/* PhotoGallery.css */

/* Reset some default styles */
body,
html {
    margin: 0;
    padding: 0;
}

.Gallery {
    display: flex;
    justify-content: center;
    width: 50%;
    height: 100%;
}

/* Gallery container styles */
.gallery-container {
    overflow: hidden;
    position: relative;
    width: max-content;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

}

/* Gallery slider styles */
.gallery-slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.gallery-slide {
    width: 100%;
    height: auto;
    /*this keeps all images same size */
    object-fit: cover;
}