main.home-page {
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    height: auto;
    /* background-color: #BFC9CB */
}

.photo {
    /* margin-top: 4rem;
    width: 70%;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    background-image: url(https://images.unsplash.com/photo-1551927411-95e412943b58?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1349&q=80);
    /* background-image: url(https://images.unsplash.com/photo-1613490493576-7fde63acd811?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1471&q=80); */
    background-size: cover;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-position: center;
    z-index: 2;
    height: 75vh;


}





h1.title-homepage {
    /* margin: 0; */
    /* padding-top: 9rem; */
    display: flex;
    justify-content: center;
    font-size: 4rem;
    font-family: 'serif';
    color: rgb(95 120 125);
    /* color: #F7F9F9; */
    font-weight: 100;
}

.sub-title {
    margin: 3rem;
    padding: 1rem;
    display: flex;
    justify-content: center;
    font-size: 2rem;
    font-family: 'serif';
    color: #5f787d;
    ;
    /* color: #F7F9F9; */
    font-weight: 100;
    /* background-color: #f7f9f9; */
}

p.sub-title {
    font-weight: bold;
    text-align: center;
    color: #5F787D;
}



.logo {

    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    /* Adjust to your needs */
    width: 100px;
    /* Set a width and height to define the size of the .logo div */
    height: 100px;
    display: flex;
}

.become-member {
    margin-top: 3rem;
    background-color: #F7F9F9;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 15rem;
}

.invite-text {
    color: #5F787D;
    width: 50%;
    display: flex;
    justify-content: center;
}

.action-button {
    background-color: #5F787D;
    color: #F7F9F9;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    font-size: 15px;
}


.action-button:hover {
    background-color: #394B4E;
    transform: scale(1.05);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);

}

.browse {
    background-color: #5F787D;
    color: #F7F9F9;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    font-size: 15px;

}

.browse-properties {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}