/* style.css */

.about-main {
    width: 100%;
    height: 90vh;
    display: flex;

}

.about-body {


    /* border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center; */
    display: flex;
    width: 50%;
}

.about-container {
    width: 50%;
    /* Limit the content width */
    /* margin: 0 auto; */
    /* Center the container */
    padding-left: 13rem;
    padding-right: 13rem;
    /* Add padding inside the container */
    /* background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); */

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* border-top-left-radius: 8px;
    border-bottom-left-radius: 8px; */

}

.about-title {

    background-color: #5F787D;
    font-size: 36px;
    color: white;
    display: flex;
    flex-direction: row;
    padding-left: 30px;


}

.about-subtitle {
    font-size: 24px;
    /* Set the subtitle font size */
    color: #5F787D;
    /* Set the subtitle text color */
    margin-top: 10px;
    /* Add margin to separate from the title */
}

.about-paragraph {
    font-size: 16px;
    /* Set the paragraph font size */
    color: #444;
    /* Set the paragraph text color */
    margin-top: 20px;
    /* Add margin to separate from the subtitle */
}

@media (max-width: 600px) {
    .about-main {
        display: flex;
        flex-direction: column;
        flex-direction: column-reverse;
        height: auto;
        width: 100%;
    }

    .about-container {
        display: flex;
        flex-direction: column;
        padding: 0;
        width: 100%;
        padding: 25px;
    }

    .about-body {
        width: 100%;
        display: flex;
        justify-content: center;
    }
}